div {
  display: inline-block;

  button {
    padding: .5rem;
    font-size: 1rem;
    color: white;
    background: red;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &.active {
      background: green;
    }
  }
}